@charset "windows-1256";

#h3_specs_values_region,#specs_values_region
{
  top: -28.5em;
  position: relative;
  left: 22em;
}

#results_region
{
  position:absolute;
  left: 50%;
}
#h3_search_results_id
{
  top: 5%;
  position:absolute;
  left: 50%;
}



#div_add_new_specs_popup
{
  top:55%;
  position: absolute;
  left: 35%;
}

#popup_specs_values_region
{
  top: 55%;
  position: absolute;
  left: 65%;
}
#sticky
{
  position: fixed;
}

#items_in_cart_region
{
}

a.export,a.export:visited,a.hrefprintclass,a.hrefprintclass:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 8px;
}