@charset "windows-1256";

#specs_values_region,#h3_specs_values_region
{
  top: 10%;
  position: absolute;
  left: 25%;
}

#h3_specs_values_region
{
  top: 5%;
  position: absolute;
  left: 25%;
}

#results_region
{
  position:absolute;
  left: 50%;
}
#h3_search_results_id
{
  top: 5%;
  position:absolute;
  left: 50%;
}



#div_add_new_specs_popup
{
  top:55%;
  position: absolute;
  left: 35%;
}

#popup_specs_values_region
{
  top: 55%;
  position: absolute;
  left: 65%;
}
#sticky
{
  position: fixed;
}
#items_in_cart_region
{
}