@charset "windows-1256";

#MainContainer #SearchContainer div {
  float: left;
}
#MainContainer #SearchResult table{
  border-collapse: collapse;
}
#MainContainer #SearchResult table, th, td {
  border: 1px solid grey;
}
#MainContainer #SearchResult th, td{
  padding: 5px;
}
#MainContainer #SearchControls {
  width: 350px;
  box-shadow: 0px 2px 5px 0px #888;
  margin:10px;
  padding: 15px;
  border-radius: 15px;
}

#MainContainer #SearchControls input{
  float:right;
}
#MainContainer #SearchControls label {
  float: left;
}
#MainContainer #SearchControls .search-row{
  width: 340px;
  float:right;
}