.new-user {
    width: 200px;
}
.new-user div{
    float: right;
}
#management-container input{
    float: right;
}
#management-container div{
    box-shadow: 0px 2px 5px 0px #888;
    width: 400px;
    float: left;
    margin:10px;
    padding: 10px;
}
#add-page{
    width: 600px;
}
#ExtraSpecs{
    position: relative;
    top: -410px;
    float: right;
}
#add-panel {
    width: 500px;
}
#add-panel .add-row{
    width: 100%;
    float: right;
}
body{
    background-color:#EEE;
}
#MainContainer #export-buttons {
    float: right;
}
#MainContainer #control-buttons {
    float: right;
}
#MainContainer input{
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #888;
    font-size: 18px;
    line-height: 20px;
    margin: 2px;
    padding: 3px;
}
#MainContainer select{
    width: 190px; 
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #888;
    font-size: 18px;
    line-height: 20px;
    margin: 2px;
    padding: 3px;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
.stretch {
    width:100%;
    height:100%;
}
@media print {
    td{
        border: 1px solid #999;
    }
    th {
        border: 1px solid #999;
    }
}
button:hover{
    color:brown;
    cursor: pointer;
}
button{
    border: white;
    position: relative;
    padding:1px;
    margin: 2px;
    border-radius: 20px;
    width:90px;
    font-weight: 600;
    font-family: 'Open Sans';
    background-color: whitesmoke ;
    box-shadow: 0px 1px 5px 0px #888;
}
.login-button{
    border: white;
    float: right;
    top:40px;
    position: relative;
    padding:5px;
    border-radius: 20px;
    width:100px;
    font-weight: 600;
    font-family: 'Open Sans';
    background-color: whitesmoke ;
    box-shadow: 0px 1px 5px 0px #888;
}
.login-button:hover{
    color:brown;
    cursor: pointer;
}
#login-form{
    border: 2px solid #FFF;
    border-radius: 25px;
    width: 400px;
    padding: 15px;
    padding-right: 25px;
    box-shadow:0px 1px 5px 0px #888;
    position: absolute;
    left: 33%;
    top:20%;
    background-color: white;
    
}
#login-form .login-input-text{
    width: 100%;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #888;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 3px;
}

@charset "windows-1256";

#ViewDetailsDialog label{
    display: inline-block;
    width:100px;
    text-align: right;
}


#ViewDetailsDialog span{

}

#MainContainer .pending{
    background-color: #ed6d64;
    background-image: linear-gradient(to bottom, #ed6d64, #ed574c);
    border: 1px solid #ba3329;
    box-shadow: inset 0 1px 0 #ffb0aa, inset 0 -1px 0 #d44d44, inset 0 0 0 1px #ed837b, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#MainContainer .done{
    background-color: #75aa54;
    background-image: linear-gradient(to bottom, #75aa54, #69aa40);
    border: 1px solid #5f993a;
    box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#LeftContainer label{
    display: inline-block;
    width: 140px;
    text-align: right;
}

#message-box {
    color:blue;
    opacity:0.5;
}

#MainContainer {
    width: 100%;
	font-family: 'Open Sans' !important;
}
#SearchButton {

}


#MainContainer a {
    text-decoration: none;
    font-family: 'Open Sans' !important;
    font-size: 14px;
    color:#0066BC;
    
}
#MainContainer a:hover{
    color: Aqua;
    cursor: pointer;
}

#index-table td:hover{
    background-color: honeydew;
}
#index-table td{
    color: black;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    border: 1px solid #ddd;
    height: 100px;
    text-align:center;
}
#index-table td a{
    font-size: 18px;
}
#index-table table
{    
    border-collapse: collapse;
    width: 1000px;
    position:absolute;
    left:22%;
    top:25%;
    box-shadow: 0px 2px 5px 0px #888;
    float: left;
    margin: 10px;
    padding: 10px;
    margin-top: 2em;
    border-radius: 7px;
    font-family: 'Open Sans';
}
.container{
    float:left;
}

#ResultsTable td{
    width:120px;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
    border: 1px solid #999;
}
#ResultsTable th{
    width:120px;
    background-color: #f58a38;
    background-image: linear-gradient(to bottom, #f58a38, #f57c20);
    border: 1px solid #c25706;
    box-shadow: inset 0 1px 0 #ffb984, inset 0 -1px 0 #db6f1d, inset 0 0 0 1px #f59851, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#ResultsTable table{    
    border-collapse: collapse;
}
#LoadingResults {
    position: absolute;
}
#RightContainer{
    width: auto;
}

.index_images
{
  width: 150px;
  height: 150px;
  margin-top: 15px;
}
#index_logo
{
    width:600px;
    position: absolute;
    left: 32%;
    top: 14%;
}