#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
.stretch {
    width:100%;
    height:100%;
}
@media print {
    td{
        border: 1px solid #999;
    }
    th {
        border: 1px solid #999;
    }
}
.login-button{
    border: white;
    float: right;
    top:40px;
    position: relative;
    padding:5px;
    border-radius: 20px;
    width:100px;
    font-weight: 600;
    font-family: 'Open Sans';
    background-color: whitesmoke ;
    box-shadow: 0px 1px 5px 0px #888;
}
.login-button:hover{
    color:brown;
    cursor: pointer;
}
#login-form{
    border: 2px solid #FFF;
    border-radius: 25px;
    width: 400px;
    padding: 15px;
    padding-right: 25px;
    box-shadow:0px 1px 5px 0px #888;
    position: absolute;
    left: 33%;
    top:20%;
    background-color: white;
    
}
#login-form .login-input-text{
    width: 100%;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #888;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 3px;
}

@charset "windows-1256";

#ViewDetailsDialog label{
    display: inline-block;
    width:100px;
    text-align: right;
}


#ViewDetailsDialog span{

}

#MainContainer .pending{
    background-color: #FFc0cb;
}
#MainContainer .done{
    background-color: #33CC56;
}

#LeftContainer label{
    display: inline-block;
    width: 140px;
    text-align: right;
}

#message-box {
    color:blue;
    opacity:0.5;
}

#MainContainer {
    width: 100%;
	font-family: 'Open Sans';
}
#SearchButton {

}


#MainContainer a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 14px;
    color:#0066BC;
    
}
#MainContainer a:hover{
    color: Aqua;
    cursor: pointer;
}

#index-table td:hover{
    background-color: honeydew;
}
#index-table td{
    color: black;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    border: 1px solid #ddd;
}
#index-table table{    
    border-collapse: collapse;
}
.container{
    float:left;
}

#ResultsTable td{
    color: black;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
    border: 1px solid #999;
}
#ResultsTable th{
    color: black;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
    border: 1px solid #999;
}
#ResultsTable table{    
    border-collapse: collapse;
}
#LoadingResults {
    position: absolute;
}